.subheader {
	background-color: #ef2343;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0.5rem 0;
}

.adresss {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}

.adresss p {
	margin-right: 0.5rem;
}

.account {
	display: flex;
}
.account p {
	margin-right: 1rem;
	color: #fff;
}
